{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
            </div>

            <div id="status">
                <p>
                    {{ title }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

